/* Paper css */

.paper-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .paper-card-title {
    color: #333;
  }
  
  .paper-card-description {
    color: #777;
  }
  