.paper-article-container{
  display: flex;
  justify-content: flex-start;
  width: 300px;
  flex-wrap: wrap;
  align-content: center;
}

.paper-article {
    margin: 20px;
    width: calc(70% - 30px);
  }
  
  .paper-article-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .paper-article-author {
    color: #777;
  }
  
  .paper-article-content {
    margin-top: 10px;
  }
  